body {
    width: 100%;
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}


/* ///////////////////Fontes//////////////////////////// */


h2 {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


/* ///////////////////Tela de autenticação//////////////////////////// */


.autentication-screen {
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.autentication-screen.autenticaded {
    display: none;
}
.autentication-screen img:first-child {
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}
.username-login {
    width: 261px;
    height: 54px;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    margin-bottom: 15px;
}
.username-login::placeholder {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #AEAEAE;
}
.username-login:focus {
    outline: none;
}
.submit-user {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #696969;
    border: none;
    border-radius: 9px;
}
.submit-user:active {
    box-shadow: inset 0 0 10px gray;
}
.submit-user:focus {
    outline: none;
}
.autentication-screen img:nth-child(4) {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    display: none;
}
.autentication-screen h2 {
    display: none;
}
.autentication-screen.loading .username-login, .autentication-screen.loading .submit-user {
    display: none;
}
.autentication-screen.loading img:nth-child(4), .autentication-screen.loading h2 {
    display: flex;
}


/* ///////////////////Tela de Bate-Papo//////////////////////////// */


.chat-screen {
    width: 100%;
    height: 100vh;
}
.header {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
}
.header img {
    width: 75px;
    height: 53px;
}
.header ion-icon {
    color: #000000;
    font-size: 45px;
}
.chat {
    width: 100%;
    height: 100%;
}
.footer {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
}
.write-message {
    width: calc(100vw - 82px);
    height: 30px;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
    display: flex;
    align-items: center;
}
.write-message::placeholder {
    font-style: italic;
    border: none;
    outline: none;
}
.write-message:focus {
    outline: none;
}

.footer ion-icon {
    color: #000000;
    font-size: 32px;
}